.services_form_container{
   width: 100%!important; 
   background-color: #ffffff;
   border-radius: 20px;
    padding:30px;
}
#services_title{
    border:1px solid #C9C9C9;
    border-radius: 5px;
}
#services_des{
    border:1px solid #C9C9C9;
    border-radius: 5px;  
}
.btn_submit{
    background-color: #009444!important;
    margin-left: auto !important;
}